{include '../Support/header.latte'}

<div class="admin-body">
	<form method="post" class="form-control form-admin" action="">
		<div class="alert alert-outline" role="alert">
			<div class="form-group">
				<label for="recipient" class="required">Příjemce</label>
				<input type="email" class="form-control form-control-sm" id="recipient" name="recipient" aria-describedby="recipientHelp" placeholder="E-mail" value="{$mail->getAttr('recipient')}" required>
			</div>
			<div class="form-group">
				<label for="subject" class="required">Předmět</label>
				<input type="text" class="form-control form-control-sm" id="subject" name="subject" aria-describedby="subjectHelp" placeholder="předmět" value="{$mail->getAttr('subject')}" required>
			</div>
			<div class="form-group">
				<label for="content" class="required">Obsah</label>
				<textarea class="ckeditor form-control form-control-sm" id="content" name="content" aria-describedby="contentHelp" required>{$mail->getAttr('content')}</textarea>
			</div>
			<div class="form-group">
				<input type="hidden" name="save" value="1">
				<input type="hidden" name="code" value="{$mail->getAttr('code')}">
				<button type="submit" class="btn btn-sm btn-icon btn-mail">Odeslat kopii</button>
			</div>
		</div>
	</form>

</div>
