<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<title>{$subject}</title>
</head>
<body bgcolor="#ffffff" style="padding:0;margin:0;">
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="overflow:hidden;line-height:0;">
	<tr>
		<td align="center" width="100%" height="50"></td>
	</tr>
	<tr>
		<td align="center" width="100%">
			<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="700" style="overflow:hidden;line-height:0;">
				<tr>
					<td colspan="3" width="700" valign="middle" bgcolor="#ffffff" style="overflow:hidden;line-height:0;">
						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="5" width="100%">
							<tr valign="middle">
								<td width="100">
									<a title="www.tipovacka.org" href="https://www.tipovacka.org" target="_blank" rel="noopener"><span style="font-size: 10pt;"><strong>www.tipovacka.org</strong></span></a>
								</td>
								<td align="right" color="#a4a4a4" style="font-family:Arial, Helvetica, sans-serif;font-size:16px;">{$subject}</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3" height="40" bgcolor="#ffffff">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" width="700" height="1" bgcolor="#e5e5e5" style="overflow:hidden;line-height:0;"></td>
				</tr>
				<tr>
					<td colspan="3" height="15" bgcolor="#ffffff">&nbsp;</td>
				</tr>
				<tr>
					<td width="30" bgcolor="#ffffff"></td>
					<td width="640" bgcolor="#ffffff" style="overflow:hidden;line-height:20px;" valign="top">
                        {$content|noescape}
					</td>
					<td width="30" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="3" width="700" height="50" bgcolor="#ffffff"
					    style="overflow:hidden;line-height:0;"></td>
				</tr>
				<tr>
					<td colspan="3" width="700" height="1" bgcolor="#e5e5e5"
					    style="overflow:hidden;line-height:0;"></td>
				</tr>
				<tr>
					<td colspan="3" width="700" height="50" bgcolor="#ffffff"
					    style="overflow:hidden;line-height:0;"></td>
				</tr>

				<tr>
					<td colspan="3" width="700" height="50" bgcolor="#ffffff"
					    style="overflow:hidden;line-height:0;"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
