{include '../Support/header.latte'}

<div class="admin-body">
	<table class="table table-hover table-admin table-sm table-bordered table-rezervace table-condensed sticky-header sortable">
		<thead class="thead-brand">
			<tr>
				<th style="min-width: 120px;">Vytvořeno</th>
				<th style="min-width: 120px;">Odesláno</th>
				<th >Příjemce</th>
				<th >Předmět</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr n:if="$mails" n:foreach="$mails as $mail">
				<td class="datetime" sorttable_customkey="{$mail->getAttr('created')|sortabledate}">{$mail->getAttr('created')|datetime|noescape}</td>
				<td class="datetime" sorttable_customkey="{$mail->getAttr('sent')|sortabledate}">{$mail->getAttr('sent')|datetime|noescape}</td>
				<td>{$mail->getAttr('recipient')}</td>
				<td>{$mail->getAttr('subject')|noescape}</td>
				<td><a href="/mail/odeslane/id={$mail->getId()}" title="email"><i class="fa fa-fw fad fa-eye text-info"></i></a></td>
			</tr>
			<tr n:if="!$mails">
				<td colspan="50">Systém neobsahuje žádné maily...</td>
			</tr>
		</tbody>
	</table>

</div>
