{include '../Support/header.latte'}

<div class="admin-body">
	<form method="post" class="form-control form-admin" action="">
		<div class="alert alert-outline" role="alert">
			<div class="alert alert-info-outline narrow small alert-dismissible fade show" role="alert">
				<ul>
					<li>Tyto údaje slouží pro výpis informací, kam má uživatel zaslat platbu a to včetně vygenerování QR kódu pro platbu - pokud máte v rezervaci nastavené platby Bankovním převodem.</li>
					<li>V případě, že jste klientem FIO banky, můžete vyplnit TOKEN pro automatické kontroly došlých plateb systému s bankou. Více...</li>
				</ul>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="form-group">
				<label for="settings_banka[price]">Startovné</label>
				<input type="text" class="form-control form-control-sm" id="settings_banka[price]" name="settings_banka[price]" aria-describedby="settings_banka[banka]Help" placeholder="Celé číslo" value="{ifset $banka['price']}{$banka['price']}{/ifset}">
				<small class="form-text text-muted">Celé číslo</small>
			</div>
			<div class="form-group">
				<label for="settings_banka[banka]">Název banky</label>
				<input type="text" class="form-control form-control-sm" id="settings_banka[banka]" name="settings_banka[banka]" aria-describedby="settings_banka[banka]Help" placeholder="Název banky" value="{ifset $banka['banka']}{$banka['banka']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_banka[account]">Číslo účtu včetně kódu banky (oddělte lomítkem bez mezer)</label>
				<input type="text" class="form-control form-control-sm" id="settings_banka[account]" name="settings_banka[account]" aria-describedby="settings_banka[account]Help" placeholder="Číslo účtu" value="{ifset $banka['account']}{$banka['account']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_banka[prefix]">Prefix pro variabilní symbol</label>
				<input maxlength="5" type="text" class="form-control form-control-sm" id="settings_banka[prefix]" name="settings_banka[prefix]" aria-describedby="settings_banka[prefix]Help" placeholder="Číselný prefix" value="{ifset $banka['prefix']}{$banka['prefix']}{/ifset}">
				<small id="codeHelp" class="form-text text-muted">Max. 5 znaků - za prefixem následuje 5 náhodně vygenerovaných čísel.</small>
			</div>
			<div class="form-group">
				<label for="settings_banka[token]">Token pro API FIO banky</label>
				<input type="text" class="form-control form-control-sm" id="settings_banka[token]" name="settings_banka[token]" aria-describedby="settings_banka[token]Help" placeholder="FIO token" value="{ifset $banka['token']}{$banka['token']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_banka[token_end]">Platnost tokenu (po tomto datu se již nebude systém spojovat s FIO bankou)</label>
				<input type="text" class="form-control form-control-sm form_date" id="settings_banka[token_end]" name="settings_banka[token_end]" aria-describedby="settings_banka[token_end]Help" placeholder="Číslo účtu" value="{ifset $banka['token_end']}{$banka['token_end']}{/ifset}">
			</div>
		</div>

		<input type="hidden" name="save">
		<button type="submit" class="btn btn-primary">Uložit změny</button>
	</form>
</div>
