{include '../Support/header.latte'}

<div class="admin-body">
	<form method="post" class="form-control form-admin" action="" enctype="multipart/form-data">
		<div class="alert alert-outline" role="alert">
			<div class="alert alert-info-outline narrow small alert-dismissible fade show" role="alert">
				<ul>
					<li>Pokud máte vlastní nastavení pro <a href="https://www.mailgun.com" target="_blank" title="Mailgun">Mailgun</a>, můžete vyplnit údaje API klíč, Endpoint, Domain a E-mail odesílatele. V tom případě budou emaily z webu odcházet Vaším jménem (z Vaší domény). Pokud toto nastavení nemáte, použije se nastavení webu Rezervace-Vstupenek.cz.</li>
					<li>Nastavení služby Mailgun vyžaduje přidání záznamů do nastavení DNS Vaší domény. V případě zájmu Vám poradíme.</li>
					<li class="text-danger"><b>Odesílatel a E-mail pro odpovědi jsou povinné údaje.</b></li>
				</ul>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="form-group">
				<label for="settings_mailgun[api]">API klíč</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[api]" name="settings_mailgun[api]" aria-describedby="settings_mailgun[api]Help" placeholder="např.: key-kjlgkj2123d1fgsgd" value="{ifset $mailgun['api']}{$mailgun['api']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_mailgun[endpoint]">endpoint</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[endpoint]" name="settings_mailgun[endpoint]" aria-describedby="settings_mailgun[endpoint]Help" placeholder="např.: https://api.mailgun.net/v3/mg.vasedomena.cz" value="{ifset $mailgun['endpoint']}{$mailgun['endpoint']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_mailgun[domain]">domain</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[domain]" name="settings_mailgun[domain]" aria-describedby="settings_mailgun[domain]Help" placeholder="např.: mg.vasedomena.cz" value="{ifset $mailgun['domain']}{$mailgun['domain']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_mailgun[from]">E-mail odesílatele (musí odpovídat doméně)</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[from]" name="settings_mailgun[from]" aria-describedby="settings_mailgun[from]Help" placeholder="např.: info@vasedomena.cz" value="{ifset $mailgun['from']}{$mailgun['from']}{/ifset}">
			</div>
			<div class="form-group">
				<label for="settings_mailgun[name]" class="required">Odesílatel/Organizace</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[name]" name="settings_mailgun[name]" aria-describedby="settings_mailgun[name]Help" placeholder="např.: organizace" value="{ifset $mailgun['name']}{$mailgun['name']}{/ifset}" required>
			</div>
			<div class="form-group">
				<label for="settings_mailgun[reply]" class="required">E-mail pro odpovědi (reálný e-mail, na kterém jste k zastižení)</label>
				<input type="text" class="form-control form-control-sm" id="settings_mailgun[reply]" name="settings_mailgun[reply]" aria-describedby="settings_mailgun[reply]Help" placeholder="např.: boss@vasedomena.cz" value="{ifset $mailgun['reply']}{$mailgun['reply']}{/ifset}" required>
			</div>
		</div>
		<input type="hidden" name="save">
		<button type="submit" class="btn btn-primary">Uložit změny</button>
	</form>
</div>
