{include '../Support/header.latte'}

<div class="admin-body">
	<form method="post" class="form-control form-admin" action="" enctype="multipart/form-data">
		<div class="alert alert-outline" role="alert">
			<div class="form-group">
				<div class="row">
					<div class="col col-6">
						<label for="name" class="required">Název akce</label>
						<input type="text" class="form-control form-control-sm" id="name" name="name" aria-describedby="nameHelp" placeholder="Název akce" value="{$web->getAttr('name')}" required>
					</div>
					<div class="col col-6">
						<label for="settings[jokers]">Počet žolíků</label>
						<input type="text" class="form-control form-control-sm" id="settings[jokers]" name="settings[jokers]" aria-describedby="jokersHelp" placeholder="počet" value="{$web->getSettings('jokers')}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="date_from" class="required">Datum akce</label>
				<div class="row">
					<div class="col col-3">
						<input type="text" class="form-control form-control-sm form_datetime" id="date_from" name="date_from" aria-describedby="date_fromHelp" placeholder="Datum" value="{$web->getAttr('date_from')}" required>
					</div>
					<div class="col col-3">
						<input type="text" class="form-control form-control-sm form_datetime" id="date_to" name="date_to" aria-describedby="date_toHelp" placeholder="Datum" value="{$web->getAttr('date_to')}" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col col-3">
						<label for="date_open" class="required">Otevření tipovačky</label>
						<input type="text" class="form-control form-control-sm form_datetime" id="date_open" name="date_open" aria-describedby="date_openHelp" placeholder="Datum" value="{$web->getAttr('date_open')}" required>
					</div>
					<div class="col col-3">
						<label for="date_stop" class="required">Uzávěrka tipovačky</label>
						<input type="text" class="form-control form-control-sm form_datetime" id="date_stop" name="date_stop" aria-describedby="date_stopHelp" placeholder="Datum" value="{$web->getAttr('date_stop')}" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="code">Link</label>
				<input type="text" class="form-control form-control-sm" id="code" name="code" aria-describedby="codeHelp" placeholder="Link" value="{$web->getAttr('code')}">
				<small id="codeHelp" class="form-text text-muted">Odkaz, na kterém se nachází tipovačka (<a href="https://www.tipovacka.org/{$web->getAttr('code')}" target="_blank">https://www.tipovacka.org/{$web->getAttr('code')}</a>). Pokud bude prázdný, vygeneruje se odkaz automaticky z názvu akce.</small>
			</div>
			<div class="form-group">
				<label for="description">Úvodník</label>
				<textarea class="ckeditor form-control form-control-sm" id="description" name="description" aria-describedby="descriptionHelp" placeholder="Popis">{$web->getAttr('description')}</textarea>
			</div>
			<div class="form-group">
				<label for="rules">Pravidla</label>
				<textarea class="form-control form-control-sm ckeditor" id="rules" name="rules" aria-describedby="rulesHelp" placeholder="Popis">{$web->getAttr('rules')}</textarea>
			</div>
			<div class="form-group">
				<label for="cs_web">Obrázek/Logo</label>
				<div n:if="$web->getAttr('image')" class="image-preview">
					<a href="{$web->getAttr('image')}" data-fancybox>
						<img src="{$web->getAttr('image')}">
					</a>
					<a href="" data-id="{$web->getId()}" data-file="{$web->getAttr('image')}" data-table="cs_web" data-code="{$web->getAttr('code')}" data-note="" class="file-delete-link"><i class="fa fas fa-fw fa-times-circle text-danger"></i></a>
				</div>
				<input type="file" class="form-control form-control-sm" id="cs_web" name="cs_web" aria-describedby="cs_webHelp" placeholder="">
				<small id="fileHelp" class="form-text text-muted">U každé akce se zobrazí pouze poslední nahraný obrázek.</small>
			</div>
			<div class="form-group">
				<label for="visible">Zveřejnit</label>
				<input type="checkbox" class="form-control form-control-sm" style="width: 20px;" id="visible" name="visible" aria-describedby="visibleHelp" value="1" {if $web->getAttr('visible') == 1}checked{/if}>
				<small id="visibleHelp" class="form-text text-muted">Zaškrtnutím povolíte zobrazení obsahu pro veřejnost.</small>
			</div>
		</div>
		<input type="hidden" name="save">
		<button type="submit" class="btn btn-primary">Uložit změny</button>
	</form>
</div>
