<form method="post" class="form-control form-admin" action="">
	<div class="alert alert-outline" role="alert">
		<div class="form-group">
			<div class="row">
				<div class="col col-4">
					<label for="id_cs_otazka_sekce" class="required">Sekce</label>
					<select name="id_cs_otazka_sekce" id="id_cs_otazka_sekce" class="form-control-sm form-control">
						<option n:foreach="$sections as $section" {if $selected && $selected->getAttr('id_cs_otazka_sekce') == $section->getId()}selected{elseif !$selected}{if $session && $session['sekce'] == $section->getId()}selected{/if}{/if} value="{$section->getId()}">{$section->getAttr('name')}</option>
					</select>
				</div>
				<div class="col col-4">
					<label for="id_cs_otazka_typ" class="required">Typ otázky</label>
					<select name="id_cs_otazka_typ" id="id_cs_otazka_typ" class="form-control-sm form-control">
						<option n:foreach="$types as $type" {if $selected && $selected->getAttr('id_cs_otazka_typ') == $type->getId()}selected{elseif !$selected}{if $session && $session['typ'] == $type->getId()}selected{/if}{/if} value="{$type->getId()}">{$type->getDescription()}</option>
					</select>
				</div>
				<div class="col col-4">
					<label for="answers_count" class="required">Počet tipů</label>
					<input name="answers_count" id="answers_count" type="text" class="form-control-sm form-control" value="{if $selected}{$selected->getAttr('answers_count')}{else}1{/if}">
					<small id="answers_countHelp" class="form-text text-muted">0 = nekonečno</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col col-4">
					<label for="answer-type" class="required">Typ odpovědi</label>
					<select name="answer_type" id="answer-type" class="form-control form-control-sm" required>
						<option value="text" {if $selected && $selected->getAttr('answer_type') == 'text'}selected{elseif !$selected}{if $session && $session['answer'] == 'text'}selected{/if}{/if}>Textová odpověď</option>
						<option value="number" {if $selected && $selected->getAttr('answer_type') == 'number'}selected{elseif !$selected}{if $session && $session['answer'] == 'number'}selected{/if}{/if}>Číselná odpověď</option>
						<option value="tf" {if $selected && $selected->getAttr('answer_type') == 'tf'}selected{elseif !$selected}{if $session && $session['answer'] == 'tf'}selected{/if}{/if}>Ano/Ne</option>
						<option value="select" {if $selected && $selected->getAttr('answer_type') == 'select'}selected{elseif !$selected}{if $session && $session['answer'] == 'select'}selected{/if}{/if}>Výběr z nabídky</option>
						<option value="timestamp" {if $selected && $selected->getAttr('answer_type') == 'timestamp'}selected{elseif !$selected}{if $session && $session['answer'] == 'select'}selected{/if}{/if}>Datum a čas</option>
						<option value="medals" {if $selected && $selected->getAttr('answer_type') == 'medals'}selected{elseif !$selected}{if $session && $session['answer'] == 'medals'}selected{/if}{/if}>Medaile</option>
						<option value="opened-name" {if $selected && $selected->getAttr('answer_type') == 'opened-name'}selected{elseif !$selected}{if $session && $session['answer'] == 'opened-name'}selected{/if}{/if}>Otevřená odpověď - pouze jméno</option>
						<option value="opened" {if $selected && $selected->getAttr('answer_type') == 'opened'}selected{elseif !$selected}{if $session && $session['answer'] == 'opened'}selected{/if}{/if}>Otevřená odpověď - jméno a pořadí</option>
					</select>
				</div>
				<div class="col col-4 is-hidden" id="answer-type-options">
					<label for="settings">Zadejte možnosti</label>
					<table class="table table-hover table-bordered table-condensed table-sm">
						<thead class="thead-brand">
						<tr>
							<th>Možnost</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
	                    {if $options}
							<tr n:foreach="$options as $key=>$item">
								<td><input name="settings[options][{$key}][name]" data-name="name" type="text" class="form-control-sm form-control" value="{$item}"></td>
								<td><a href="" class="ui-delete-row"><i class="fa fa-fw fa-ban text-danger"></i></a></td>
							</tr>
	                    {/if}
						<tr>
							<td><input name="settings[options][a0][name]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
						</tr>
						<tr class="ui-widget-header">
							<td colspan="50"><input type="button" class="btn btn-sm btn-outline-primary btn-clone" data-data="settings[options]" value="přidat"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="required">Otázka</label>
			<textarea name="name" id="name" class="form-control form-control-sm" required>{if $selected}{$selected->getAttr('name')}{/if}</textarea>
		</div>
		<div class="form-group">
			<label for="description">Nápověda</label>
			<textarea name="description" id="description" class="form-control form-control-sm">{if $selected}{$selected->getAttr('description')}{/if}</textarea>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col col-4">
					<label for="settings">Vítězové/Správné odpovědi</label>
					<table class="table table-hover table-bordered table-condensed table-sm">
						<thead class="thead-brand">
						<tr>
							<th>Odpověď</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
		                {if $results}
							<tr n:foreach="$results as $key=>$item">
								<td><input name="settings[results][a{$key}][name]" data-name="name" type="text" class="form-control-sm form-control" value="{$key}"></td>
								<td><a href="" class="ui-delete-row"><i class="fa fa-fw fa-ban text-danger"></i></a></td>
							</tr>
		                {/if}
						<tr>
							<td><input name="settings[results][a0][name]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
						</tr>
						<tr class="ui-widget-header">
							<td colspan="50"><input type="button" class="btn btn-sm btn-outline-primary btn-clone" data-data="settings[results]" value="přidat"></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="col col-4">
					<label for="settings">Mimo hru</label>
					<table class="table table-hover table-bordered table-condensed table-sm is-hidden" id="wrong-answers-numeric">
						<thead class="thead-brand">
							<tr>
								<th>Menší než</th>
								<th>Větší než</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input name="settings[wrongNumber][min]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
								<td><input name="settings[wrongNumber][max]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover table-bordered table-condensed table-sm">
						<thead class="thead-brand">
						<tr>
							<th>Možnost</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
                        {if $wrongTextAnswers}
							<tr n:foreach="$wrongTextAnswers as $key=>$item">
								<td><input name="settings[wrongText][a{$key}][name]" data-name="name" type="text" class="form-control-sm form-control" value="{$key}"></td>
								<td><a href="" class="ui-delete-row"><i class="fa fa-fw fa-ban text-danger"></i></a></td>
							</tr>
                        {/if}
						<tr>
							<td><input name="settings[wrongText][a0][name]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
						</tr>
						<tr class="ui-widget-header">
							<td colspan="50"><input type="button" class="btn btn-sm btn-outline-primary btn-clone" data-data="settings[wrongText]" value="přidat"></td>
						</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
	<input type="hidden" name="save">
	<input type="hidden" name="id" value="{if $selected}{$selected->getId()}{/if}">
	<button type="submit" class="btn btn-primary">Uložit změny</button>
</form>
