{include '../Support/header.latte'}

<div class="admin-body">
	<div n:if="!$create" n:ifset="$filter">
        {$filter|noescape}
	</div>
	<div n:if="!$create">
		<table class="table table-sm table-condensed table-hover table-bordered table-draggable" id="cs_otazka">
			<thead class="thead-brand">
				<tr>
					<th>Pořadí</th>
					<th>Sekce</th>
					<th colspan="2">Typ</th>
					<th>Název</th>
					<th>Datum</th>
					<th>Výsledek</th>
					<th>Uzavřeno</th>
					<th class="text-center" style="width: 60px;">Tipy</th>
					<th style="width: 60px;"></th>
					<th style="width: 60px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr n:if="$otazky" n:foreach="$otazky as $otazka" data-order="{$otazka->getAttr('sort')}" id="{$otazka->getId()}">
					<td class="text-center"><i class="fa fa-fw fad fa-sort text-success" style="cursor: move;"></i></td>
					<td>{$otazka->getAttr('sekce')}</td>
					<td><span class="color-preview" style="background-color: #{$otazka->getAttr('color')}"></span></td>
					<td>{$otazka->getAttr('typ')}</td>
					<td style="font-weight: bold;">{$otazka->getAttr('name')}</td>
					<td>{$otazka->getAttr('date')|datetime}</td>
					<td>{$otazka->getAttr('result')}</td>
					<td>{$otazka->getAttr('closed')|datetime}</td>
					<td class="text-center">
						<a href="/nastaveni/otazky/tipy={$otazka->getId()}"><i class="fa fad fa-fw fa-list-ul text-success"></i></a>
						<a n:if="$otazka->getAttr('answer_type') == 'medals'" href="/nastaveni/otazky/tipy={$otazka->getId()}/q={$otazka->getAttr('answer_type')}"><i class="fa fad fa-fw fa-sort-alpha-down text-info"></i></a>
					</td>
					<td class="text-center"><a href="/nastaveni/otazky/edit={$otazka->getId()}"><i class="fa fad fa-fw fa-edit text-info"></i></a></td>
					<td class="text-center">{if $canDelete}<a href="" title="smazat" class="ui-delete-link" data-note="Smazat otázku {$otazka->getAttr('name')}" data-id="{$otazka->getId()}" data-table="otazka" data-code="{$web->getAttr('code')}"><i class="fa fa-fw fad fa-ban text-danger"></i></a>{/if}</td>
					<input type="hidden" value="{$otazka->getId()}" id="item" name="item" data-name="{$otazka->getId()}">
				</tr>
			</tbody>
		</table>
	</div>
	<div n:if="$create">
		{include 'otazka-form.latte'}
	</div>
</div>