{include '../Support/header.latte'}

<div class="admin-body prehled-tipu">
    <div class="alert alert-secondary-outline" role="alert">
        <h2>Sekce</h2><div>{$question->getAttr('sekce')}</div>
        <h2>Bodování</h2><div>{$question->getAttr('description')|noescape}</div>
        <h2>Žolík</h2><div>{$question->getAttr('joker')|yesno}</div>
    </div>
    <form n:if="$tips" class="form-admin" method="post">
        <table class="table table-hover table-condensed table-bordered table-sm table-striped">
            <thead class="thead-brand">
                <tr>
                    <th>Tiket</th>
                    <th>Email</th>
                    <th>Tip</th>
                    <th>Žolík</th>
                </tr>
            </thead>
            <tbody>
                <tr n:foreach="$tips as $tip">
                    <td>{$tip->getAttr('tiket_name')}</td>
                    <td>{$tip->getAttr('email')}</td>
                    {$questionHelper($tip, $question)|noescape}
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-sm" name="submit">Uložit</button>
    </form>
    <div n:if="!$tips" class="alert alert-warning" role="alert">Nejsou k dispozici žádné tipy.</div>
</div>
