<table class="table table-sm table-bordered table-hover table-question-opened">
	<thead class="thead-primary">
		<tr>
			<th>Jméno</th>
			<th>Disciplína</th>
			<th n:if="$question->getAttr('joker') == 1">Žolík</th>
		</tr>
	</thead>
	<tbody>
		{if $question->getAttr('answers_count') > 1}
			<tr n:for="$i = 1; $i <= $question->getAttr('answers_count'); $i++">
				<td><input name="answers[{$id}][{$i}][name]" data-name="name" data-section="{$question->getAttr('sekce')}" type="text" class="form-control-sm form-control" value="{ifset $tips[$i]}{$tips[$i]['name']}{/ifset}"></td>
				<td><input name="answers[{$id}][{$i}][event]" data-name="event" type="text" class="form-control-sm form-control" value="{ifset $tips[$i]}{$tips[$i]['event']}{/ifset}"></td>
				<td n:if="$question->getAttr('joker') == 1">
					<span class="abc-checkbox abc-checkbox-success">
						<input id="answers[{$id}][{$i}][joker]" name="answers[{$id}][{$i}][joker]" type="checkbox" data-type="joker" class="form-check-input" value="1" {ifset $tips[$i]['joker']}{if $tips[$i]['joker'] == '1'}checked{/if}{/ifset}>
						<label for="answers[{$id}][{$i}][joker]" class="form-check-label"></label>
					</span>
				</td>
			</tr>
		{else}
			<tr>
				<td><input name="answers[{$id}][a0][name]" data-name="name" data-section="{$question->getAttr('sekce')}" type="text" class="form-control-sm form-control" value=""></td>
				<td><input name="answers[{$id}][a0][event]" data-name="event" type="text" class="form-control-sm form-control" value=""></td>
				<td n:if="$question->getAttr('joker') == 1">
					<span class="abc-checkbox abc-checkbox-success">
						<input id="answers[{$id}][a0][joker]" name="answers[{$id}][a0][joker]" type="checkbox" data-type="joker" class="form-check-input" value="1">
						<label for="answers[{$id}][a0][joker]" class="form-check-label"></label>
					</span>
				</td>
			</tr>
		{/if}
		<tr n:if="$question->getAttr('answers_count') == 0" class="ui-widget-header">
			<td colspan="50"><input type="button" class="btn btn-sm btn-outline-secondary btn-clone" data-data="answers[{$id}]" data-max="{$question->getAttr('answers_count')}" value="další"></td>
		</tr>
	</tbody>
</table>
