<table class="table table-sm table-bordered table-hover table-question-opened table-condensed table-striped">
	<thead class="thead-primary" style="background: darkgoldenrod; color: white;">
		<tr>
			<th>Jméno, disciplína</th>
			<th>Medaile</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{var $countTip = 0}
		{if count($tips['individual']) > 0}
			<tr n:foreach="$tips['individual'] as $k=>$tip">
				{php $countTip++}
				<td>
					<input name="medals[{$id}][{$countTip}][name]" data-name="name" data-section="{$question->getAttr('sekce')}" type="text" class="form-control-sm form-control" value="{$tip['tip_text']}">
				</td>
				<td>
					<select name="medals[{$id}][{$countTip}][poradi]" data-name="poradi" class="form-control-sm form-control">
						<option value="">---</option>
						<option value="1" {if $tip['tip_poradi'] == '1'}selected{/if}>zlato</option>
						<option value="2" {if $tip['tip_poradi'] == '2'}selected{/if}>stříbro</option>
						<option value="3" {if $tip['tip_poradi'] == '3'}selected{/if}>bronz</option>
					</select>
				</td>
				<td class="ui-delete"><a href="" class="ui-delete-row"><i class="fa fa-fw fal fa-times-circle text-danger"></i></a></td>
			</tr>
		{/if}
        {if $question->getAttr('answers_count') > 1}
			<tr n:for="$i = 1; $i <= $question->getAttr('answers_count'); $i++">
				<td><input name="medals[{$id}][{$i}][name]" data-name="name" type="text" class="form-control-sm form-control" value=""></td>
				<td>
					<select name="medals[{$id}][{$i}][poradi]" data-name="poradi" class="form-control-sm form-control">
						<option value="">---</option>
						<option value="1">zlato</option>
						<option value="2">stříbro</option>
						<option value="3">bronz</option>
					</select>
				</td>
				<td></td>
			</tr>
        {else}
	        <tr>
		        <td><input name="medals[{$id}][a0][name]" data-name="name" data-name="name" data-section="{$question->getAttr('sekce')}" type="text" class="form-control-sm form-control" value=""></td>
		        <td>
			        <select name="medals[{$id}][a0][poradi]" data-name="poradi" class="form-control-sm form-control">
				        <option value="">---</option>
				        <option value="1">zlato</option>
				        <option value="2">stříbro</option>
				        <option value="3">bronz</option>
			        </select>
		        </td>
		        <td></td>
	        </tr>
        {/if}
		<tr n:if="$question->getAttr('answers_count') == 0" class="ui-widget-header">
			<td colspan="50"><input type="button" class="btn btn-sm btn-outline-secondary btn-clone" data-data="medals[{$id}]" value="další"></td>
		</tr>
	</tbody>
</table>
