{include '../Support/header.latte'}

<div class="admin-body">
	<form method="post" class="form-control form-admin" action="">
		<div class="alert alert-info-outline narrow small alert-dismissible fade show" role="alert">
			<ul>
				<li>Automaticky přednastavené šablony si můžete upravit.</li>
				<li>Šablony slouží jednak pro zobrazení potvrzení tiketu a pak se také jedná o šablony, které jsou rozesílány emailem.</li>
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div n:if="$templates" n:foreach="$templates as $template" class="alert alert-striped" role="alert">
			<h2>{$template->getAttr('name')}<span>{$template->getAttr('code')}</span></h2>
			<small class="form-text text-muted">{$template->getAttr('description')|noescape}</small>
			<div n:if="$template->getAttr('type') == 'mail'" class="form-group">
				<label for="template[{$template->getId()}][subject]" class="required">Předmět emailu</label>
				<input id="template[{$template->getId()}][subject]" name="template[{$template->getId()}][subject]" class="form-control form-control-sm" value="{$template->getAttr('subject')}" required>
			</div>
			<div class="form-group">
				<label for="template[{$template->getId()}][template]" class="required">Obsah</label>
				<textarea name="template[{$template->getId()}][template]" class="ckeditor form-control form-control-sm" required>{$template->getAttr('template')|noescape}</textarea>
			</div>
		</div>
		<div n:if="!$templates" class="alert alert-danger" role="alert">
			Tipovačka nemá nakopírovány výchozí šablony.
		</div>
		<input type="hidden" name="save">
		<button n:if="$templates" type="submit" class="btn btn-primary">Uložit změny</button>
	</form>
</div>
