{include '../Support/header.latte'}

<div class="admin-body">
	<div n:if="!$create">
		<table class="table table-sm table-condensed table-hover table-bordered">
			<thead class="thead-brand">
				<tr>
					<th>Název</th>
					<th class="text-center">Barva</th>
					<th class="text-center">Body</th>
					<th class="text-center">Žolík</th>
					<th class="text-center">Medaile</th>
					<th class="text-center">Plus/Mínus</th>
					<th class="text-center">Pořadí</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr n:if="$types" n:foreach="$types as $type">
					<td>{$type->getAttr('name')}</td>
					<td class="text-center"><span class="color-preview" style="background-color: #{$type->getAttr('color')}"></span></td>
					<td class="text-center">{$type->getAttr('points')}</td>
					<td class="text-center"><a href="" class="ui-switcher" data-table="cs_otazka_typ" data-check="{$type->getId()}" data-web="{$webId}" data-user="{$userId}" data-switch="joker"><i class="fa fa-fw fad {if $type->getAttr('joker') == '1'}fa-check text-success{else}fa-times text-danger{/if}"></i></a> </td>
					<td class="text-center">{if $type->getAttr('medals')}ANO{else}NE{/if}</td>
					<td class="text-center">{if $type->hasSettings('plusminus')}ANO{else}NE{/if}</td>
					<td class="text-center">{if $type->hasSettings('poradi')}ANO{else}NE{/if}</td>
					<td class="text-center"><a href="/nastaveni/typy-otazek/edit={$type->getId()}"><i class="fa fad fa-fw fa-edit text-info"></i></a></td>
					<td class="text-center">{if $canDelete}<a href="" title="smazat" class="ui-delete-link" data-note="Smazat otázku {$type->getAttr('name')}" data-id="{$type->getId()}" data-table="otazka_typ" data-code="{$web->getAttr('code')}"><i class="fa fa-fw fad fa-ban text-danger"></i></a>{/if}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div n:if="$create">
		{include 'typy-otazek-form.latte'}
	</div>
</div>