<form method="post" class="form-control form-admin" action="">
	<div class="alert alert-outline" role="alert">
		<div class="form-group">
			<div class="row">
				<div class="col col-6">
					<label for="name" class="required">Název</label>
					<input type="text" class="form-control form-control-sm" id="name" name="name" aria-describedby="nameHelp" placeholder="Název" value="{if $questionType}{$questionType->getAttr('name')}{/if}" required>
				</div>
				<div class="col col-2">
					<label for="color" class="required">Barva</label>
					<input type="text" name="color" id="color" class="form-control form-control-sm jscolor" value="{if $questionType}{$questionType->getAttr('color')}{/if}" required>
				</div>
				<div class="col col-1">
					<label for="joker">Žolík</label>
					{var $checked = ''}
					{if $questionType && $questionType->getAttr('joker') == 1}
                        {var $checked = 'checked'}
					{/if}
					<input type="checkbox" id="joker" name="joker" {$checked} class="form-control form-control-sm" value="1" style="width: 25px">
				</div>
				<div class="col col-1">
					<label for="medals">Medaile</label>
                    {var $checked = ''}
                    {if $questionType && $questionType->getAttr('medals') == 1}
                        {var $checked = 'checked'}
                    {/if}
					<input type="checkbox" id="medals" name="medals" {$checked} class="form-control form-control-sm" value="1" style="width: 25px">
				</div>
				<div class="col col-1">
					<label for="winner">Skóre/Vítěz</label>
                    {var $checked = ''}
                    {if $questionType && $questionType->getAttr('winner') == 1}
                        {var $checked = 'checked'}
                    {/if}
					<input type="checkbox" id="winner" name="winner" {$checked} class="form-control form-control-sm" value="1" style="width: 25px">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="description">Popis</label>
			<textarea name="description" id="description" class="form-control form-control-sm ckeditor">{if $questionType}{$questionType->getAttr('description')}{/if}</textarea>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col col-6">
					<label for="points" class="required">Body za přesný tip</label>
					<input type="text" id="points" name="points" class="form-control form-control-sm" value="{if $questionType}{$questionType->getAttr('points')}{/if}" required>
					<small>U medailí - Body za přesný tip (jméno, disciplína, pořadí)</small>
				</div>
				<div class="col col-6 question-match-winner">
					<label for="settings[match][a0][winner]">Body za tip na vítěze</label>
					<input type="text" id="settings[match][a0][winner]" name="settings[match][a0][winner]" class="form-control form-control-sm" value="{if $questionType}{$questionType->getSettings('match')}{/if}">
					<small>U medailí - Body za přesný tip (jméno, disciplína, pořadí)</small>
				</div>
			</div>
		</div>

		<div class="question-medals-points">
			<div class="row">
				<div class="col-auto">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text" style="width: 350px;">Body za celkový počet medailí</div>
						</div>
						<input type="text" class="form-control" name="settings[medal-points][total]" value="{if $questionType}{$questionType->getSettings('medal-points')['total']}{/if}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-auto">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text" style="width: 350px;">Body za počet zlatých medailí</div>
						</div>
						<input type="text" class="form-control" name="settings[medal-points][gold]" value="{if $questionType}{$questionType->getSettings('medal-points')['gold']}{/if}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-auto">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text" style="width: 350px;">Body za počet stříbrných medailí</div>
						</div>
						<input type="text" class="form-control" name="settings[medal-points][silver]" value="{if $questionType}{$questionType->getSettings('medal-points')['silver']}{/if}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-auto">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text" style="width: 350px;">Body za počet bronzových medailí</div>
						</div>
						<input type="text" class="form-control" name="settings[medal-points][bronze]" value="{if $questionType}{$questionType->getSettings('medal-points')['bronze']}{/if}">
					</div>
				</div>
			</div>
		</div>

		<div class="form-group question-plus-minus-points">
			<label for="plusminus">Body za tip plus/mínus</label>
			<table class="table table-hover table-bordered table-condensed table-sm">
				<thead class="thead-brand">
					<tr>
						<th>Odchylka</th>
						<th>Body</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
	                {if $plusminus}
						<tr n:foreach="$plusminus as $key=>$item">
							<td><input name="settings[plusminus][a{$key}][odchylka]" data-name="odchylka" type="text" class="form-control-sm form-control" value="{$key}"></td>
							<td><input name="settings[plusminus][a{$key}][body]" data-name="body" type="text" class="form-control-sm form-control" value="{$item}"></td>
							<td><a href="" class="ui-delete-row"><i class="fa fa-fw fa-ban text-danger"></i></a></td>
						</tr>
	                {/if}
					<tr>
						<td><input name="settings[plusminus][a0][odchylka]" data-name="odchylka" type="text" class="form-control-sm form-control" value=""></td>
						<td><input name="settings[plusminus][a0][body]" data-name="body" type="text" class="form-control-sm form-control" value=""></td>
					</tr>
	                <tr class="ui-widget-header">
		                <td colspan="50"><input type="button" class="btn btn-sm btn-outline-primary btn-clone" data-data="settings[plusminus]" value="přidat plus/mínus"></td>
	                </tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<label for="plusminus">Body za tip na pořadí v rozmení</label>
			<table class="table table-hover table-bordered table-condensed table-sm">
				<thead class="thead-brand">
				<tr>
					<th>Od</th>
					<th>Do</th>
					<th>Body</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
                {if $poradi}
					<tr n:foreach="$poradi as $key=>$item">
						<td><input name="settings[poradi][b{$key}][od]" data-name="od" type="text" class="form-control-sm form-control" value="{$item['od']}"></td>
						<td><input name="settings[poradi][b{$key}][do]" data-name="do" type="text" class="form-control-sm form-control" value="{$item['do']}"></td>
						<td><input name="settings[poradi][b{$key}][body]" data-name="body" type="text" class="form-control-sm form-control" value="{$item['body']}"></td>
						<td><a href="" class="ui-delete-row"><i class="fa fa-fw fa-ban text-danger"></i></a></td>
					</tr>
                {/if}
				<tr>
					<td><input name="settings[poradi][a0][od]" data-name="od" type="text" class="form-control-sm form-control" value=""></td>
					<td><input name="settings[poradi][a0][do]" data-name="do" type="text" class="form-control-sm form-control" value=""></td>
					<td><input name="settings[poradi][a0][body]" data-name="body" type="text" class="form-control-sm form-control" value=""></td>
				</tr>
				<tr class="ui-widget-header">
					<td colspan="50"><input type="button" class="btn btn-sm btn-outline-primary btn-clone" data-data="settings[poradi]" value="přidat pořadí"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<input type="hidden" name="save">
	<input type="hidden" name="id" value="{if $questionType}{$questionType->getId()}{/if}">
	<button type="submit" class="btn btn-primary">Uložit změny</button>
</form>
