{include '../Support/header.latte'}

<div class="admin-body prehled-tipu">
	<div class="alert alert-secondary-outline" role="alert">
		<h2>Sekce</h2><div>{$question->getAttr('sekce')}</div>
		<h2>Bodování</h2><div>{$question->getAttr('description')|noescape}</div>
		<h2>Žolík</h2><div>{$question->getAttr('joker')|yesno}</div>
	</div>

	<table class="table table-sm table-bordered table-hover table-question-opened table-condensed table-striped">
		<thead class="thead-primary" style="background: darkgoldenrod; color: white;">
			<tr>
				<th>Jméno, disciplína</th>
				<th>Medaile</th>
				<th>Tiket</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$tips as $tip">
				<td>{$tip['name']}</td>
				<td>{$tip['poradi']}</td>
				<td>{$tip['tiket_name']}</td>
			</tr>
		</tbody>
	</table>
</div>
