{include '../Support/header.latte'}

<div class="admin-body">
	<h1>{$tipovacka->getAttr('name')}</h1>
	<p><strong>{$tipovacka->getAttr('description')|noescape}</strong></p><div n:if="$exportedFile['file']" class="alert alert-primary narrow">
		<a href="{$exportedFile['file']}" class="btn btn-sm btn-icon btn-word">Stáhnout soubor vygenerovaný {$exportedFile['date']}</a>
	</div>
</div>