{include '../Support/header.latte'}
<div class="admin-body">
    <form method="post" class="form-control form-admin" action="">
        <div class="alert alert-outline" role="alert">
            <h3>Základní údaje</h3>
            <div class="form-group">
                <label for="lastname" class="required">Příjmení</label>
                <input type="text" class="form-control form-control-sm" id="lastname" name="lastname" aria-describedby="lastnameHelp" placeholder="Příjmení" value="{$user->getAttr('lastname')}" required>
            </div>
            <div class="form-group">
                <label for="firstname" class="required">Jméno</label>
                <input type="text" class="form-control form-control-sm" id="firstname" name="firstname" aria-describedby="firstnameHelp" placeholder="Jméno" value="{$user->getAttr('firstname')}" required>
            </div>
            <div class="form-group">
                <label for="email" class="required">E-mail</label>
                <input type="email" class="form-control form-control-sm" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail" value="{$user->getAttr('email')}" required>
                <small id="emailHelp" class="form-text text-muted">Slouží jako přihlašovací údaj.</small>
            </div>
            <div class="form-group">
                <label for="phone">Telefon</label>
                <input type="phone" class="form-control form-control-sm" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="telefon" value="{$user->getAttr('phone')}">
            </div>
        </div>
        <div class="alert alert-secondary-outline" role="alert">
            <h3>Změna hesla</h3>
            <div class="form-group">
                <label for="password">Nové heslo</label>
                <input type="password" class="form-control form-control-sm" id="password" name="password" aria-describedby="passwordHelp" placeholder="nové heslo">
                <small id="passwordHelp" class="hide"></small>
            </div>
            <div class="form-group">
                <label for="password2">Znovu nové heslo</label>
                <input type="password" class="form-control form-control-sm" id="password2" name="password2" aria-describedby="password2Help" placeholder="znovu nové heslo">
                <small id="password2Help" class="form-text text-muted">Napište znovu nové heslo. Kopírování a vkládání je zakázáno.</small>
            </div>
            <div id="div-password-check"></div>
        </div>
        <button type="submit" id="submitUser" class="btn btn-primary submitUser">Uložit změny</button>
    </form>
</div>
