<table class="table table-sm table-bordered table-hover table-draggable">
	<thead class="thead-brand">
	<tr>
		<th style="width: 25%">Název</th>
		<th style="width: 25%">Spojený článek</th>
		<th style="width: 25%">Externí odkaz</th>
		<th style="width: 25%">Třída</th>
		<th class="text-center short">Pořadí</th>
		<th class="text-center short">Aktivní</th>
		<th class="text-center short">Smazat</th>
	</tr>
	</thead>
	<tbody>
	<tr n:if="count($items) == 0">
		<td colspan="10">Neobsahuje žádné nastavení, přidejte nějaké položky...</td>
	</tr>
	<tr n:if="count($items) > 0" n:foreach="$items as $key=>$item" id="{$key}">
		<td><input name="navigationItem[{$key}][name]" data-name="name" type="text" class="form-control form-control-sm" value="{$item['name']}"></td>
		<td>
			<select name="navigationItem[{$key}][id_web_article]" data-name="id_web_article" class="form-control form-control-sm">
				<option value="">---</option>
				<option n:foreach="$articles as $article" value="{$article->getId()}" {if $item['id_web_article'] == $article->getId()}selected{/if}>{$article->getAttr('name')}</option>
			</select>
		</td>
		<td><input name="navigationItem[{$key}][link]" data-name="code" type="text" class="form-control form-control-sm" value="{$item['link']}"></td>
		<td><input name="navigationItem[{$key}][class]" data-name="code" type="text" class="form-control form-control-sm" value="{$item['class']}"></td>
		<td class="text-center short">
			<i class="fa fa-fw fad fa-sort text-success" style="cursor: move;"></i>
		</td>
		<td class="text-center short">
			<input name="navigationItem[{$key}][active]" data-name="active" type="checkbox" class="form-control form-control-sm" value="1" {ifset $item['active']}{if $item['active'] == 1}checked{/if}{/ifset}>
		</td>
		<td class="text-center short"><a href="" class="ui-delete-row"><i class="fa fa-fw fad fa-times-circle text-danger"></i></a></td>
	</tr>
	</tbody>
</table>
<table class="table table-sm table-bordered table-hover">
	<thead class="thead-light">
		<tr>
			<th style="width: 25%">Název</th>
			<th style="width: 25%">Spojený článek</th>
			<th style="width: 25%">Externí odkaz</th>
			<th style="width: 25%">Třída</th>
			<th class="text-center short">Aktivní</th>
			<th class="text-center short">Smazat</th>
		</tr>
	</thead>
	<tbody>
	<tr class="">
		<td style="width: 25%"><input name="navigationItem[a][name]" data-name="name" type="text" class="form-control form-control-sm"></td>
		<td style="width: 25%">
			<select name="navigationItem[a][id_web_article]" data-name="id_web_article" class="form-control form-control-sm">
				<option value="">---</option>
				<option n:foreach="$articles as $article" value="{$article->getId()}">{$article->getAttr('name')}</option>
			</select>
		</td>
		<td style="width: 25%"><input name="navigationItem[a][link]" data-name="link" type="text" class="form-control form-control-sm"></td>
		<td style="width: 25%"><input name="navigationItem[a][class]" data-name="class" type="text" class="form-control form-control-sm"></td>
		<td class="text-center short"><input name="navigationItem[a][active]" data-name="active" type="checkbox" class="form-control form-control-sm" value="1"></td>
		<td class="text-center short"></td>
	</tr>
	<tr>
		<td colspan="10">
			<a href="" class="btn btn-sm btn-outline-secondary btn-clone" data-data="navigationItem">Přidat další</a>
		</td>
	</tr>
	</tbody>
</table>
