<table class="table table-sm table-bordered table-hover table-draggable">
	<thead class="thead-brand">
		<tr>
			<th>Název</th>
			<th class="short"></th>
		</tr>
	</thead>
	<tbody>
		<tr n:if="count($items) > 0" n:foreach="$items as $key=>$item">
			<td>
				<select name="list_articles[{$key}][id]" data-name="id" class="form-control form-control-sm">
					<option value="">---</option>
					<option n:foreach="$articles as $article" value="{$article->getId()}" {if $item['id'] == $article->getId()}selected{/if}>{$article->getAttr('name')}</option>
				</select>
			</td>
			<td class="text-center short"><a href="" class="ui-delete-row"><i class="fa fa-fw fad fa-times-circle text-danger"></i></a></td>
		</tr>
		<tr>
			<td>
				<select name="list_articles[a][id]" data-name="id" class="form-control form-control-sm">
					<option value="">---</option>
					<option n:foreach="$articles as $article" value="{$article->getId()}">{$article->getAttr('name')}</option>
				</select>
			</td>
			<td class="text-center short"></td>
		</tr>
		<tr>
			<td colspan="10">
				<a href="" class="btn btn-sm btn-outline-secondary btn-clone" data-data="list_articles">Přidat další</a>
			</td>
		</tr>
	</tbody>
</table>
