<div class="admin-header">
	<h2>{$pageTitle|noescape}<a n:ifset="$baseLink" href="" class="btn-headerModal" data-page="{$baseLink}"><i class="fa fas fa-info-circle"></i></a></h2>
	<div n:ifset="$topButtons" class="top-secondary"><a n:foreach="$topButtons as $nameButton" n:if="$nameButton['authorized']" href="{ifset $nameButton['link']}{$nameButton['link']}{/ifset}" class="btn btn-sm {ifset $nameButton['class']}{$nameButton['class']}{else}btn-outline-primary{/ifset}">{$nameButton['name']}</a></div>
</div>
