{$header|noescape}

<div class="login-box">
    <h1>Obnova hesla</h1>
    <div class="alert alert-success" role="alert">
        <p>Pokud byl zadán platný e-mail, dostanete na něj odkaz pro dokončení obnovy hesla.</p>
        <p>Platnost odkazu je 30 minut.</p>
    </div>
</div>