{$header|noescape}

<div class="login-box">
    <h1>Dokončení obnovy hesla</h1>
    <form method="post" class="form-control form-admin" action="">
        <div class="form-group">
            <label for="user">E-mail</label>
            <input type="user" class="form-control form-control-sm" id="userFinish" name="userFinish" aria-describedby="userHelp" placeholder="E-mail" required>
        </div>
        <div class="form-group">
            <label for="password">Nové heslo</label>
            <input type="password" class="form-control form-control-sm" id="password" name="password" aria-describedby="passwordHelp" placeholder="nové heslo" required>
            <small id="passwordHelp" class="hide"></small>
        </div>
        <div class="form-group">
            <label for="password2">Znovu nové heslo</label>
            <input type="password" class="form-control form-control-sm" id="password2" name="password2" aria-describedby="password2Help" placeholder="znovu nové heslo" required>
            <small id="password2Help" class="form-text text-muted">Napište znovu nové heslo.</small>
        </div>
        <div id="div-password-check"></div>
        <button type="submit" id="submitUser" class="btn btn-sm btn-secondary submitUser">Změnit heslo</button>
    </form>
</div>