{$header|noescape}

<div class="login-box">
    <h1>Obnova hesla</h1>
    <div class="alert alert-success" role="alert">
        <p>Heslo bylo obnoveno.</p>
        <p><a href="/">Přihlásit se</a></p>
    </div>
</div>