{$header|noescape}

<div class="login-box">
    <h1>Zahájit obnovu hesla</h1>
    <div class="alert alert-info">
        <p>Zadejte email registrovaný v systému. Po odeslání emailu obdržíte odkaz pro dokončení obnovy hesla.</p>
    </div>
    <form method="post" class="form-control form-admin" action="">
        <span class="form-group">
            <label for="email" class="required">E-mail</label>
            <input type="text" class="form-control form-control-sm" name="email" required>
        </span>
        <button type="submit" id="renewStart" class="btn btn-sm btn-secondary submitUser">Odeslat link pro obnovu hesla</button>
    </form>
</div>
