<table class="table table-sm table-bordered table-hover table-draggable">
	<thead class="thead-brand">
		<tr>
			<th style="width: 30%">Název</th>
			<th style="width: 30%">Kód</th>
			<th style="width: 30%">Typ</th>
			<th class="text-center short">Pořadí</th>
			<th class="text-center short">Smazat</th>
		</tr>
	</thead>
	<tbody>
		<tr n:if="count($items) == 0">
			<td colspan="10">Neobsahuje žádné nastavení, přidejte nějaké položky...</td>
		</tr>
		<tr n:if="count($items) > 0" n:foreach="$items as $key=>$item">
			<td><input name="settings[{$key}][name]" data-name="name" type="text" class="form-control form-control-sm" value="{$item['name']}"></td>
			<td><input name="settings[{$key}][code]" data-name="code" type="text" class="form-control form-control-sm" value="{$item['code']}"></td>
			<td>
				<select name="settings[{$key}][type]" data-name="type" class="form-control form-control-sm">
					<option value="input" {if $item['type'] == 'input'}selected{/if}>Text</option>
					<option value="textarea" {if $item['type'] == 'textarea'}selected{/if}>Formátovaný text</option>
					<option value="image" {if $item['type'] == 'image'}selected{/if}>Obrázek</option>
					<option value="email" {if $item['type'] == 'email'}selected{/if}>E-mail</option>
					<option value="url" {if $item['type'] == 'url'}selected{/if}>Odkaz</option>
				</select>
			</td>
			<td class="text-center short"><i class="fa fa-fw fad fa-sort text-success" style="cursor: move;"></i></td>
			<td class="text-center short"><a href="" class="ui-delete-row"><i class="fa fa-fw fad fa-times-circle text-danger"></i></a></td>
		</tr>
	</tbody>
</table>
<table class="table table-sm table-bordered table-hover">
	<thead class="thead-light">
		<tr>
			<th style="width: 30%">Název</th>
			<th style="width: 30%">Kód</th>
			<th style="width: 30%">Typ</th>
			<th class="text-center short"></th>
			<th class="text-center short"></th>
		</tr>
		</thead>
	<tbody>
		<tr class="">
			<td style="width: 30%"><input name="settings[a][name]" data-name="name" type="text" class="form-control form-control-sm"></td>
			<td style="width: 30%"><input name="settings[a][code]" data-name="code" type="text" class="form-control form-control-sm"></td>
			<td style="width: 30%">
				<select name="settings[a][type]" data-name="type" class="form-control form-control-sm">
					<option value="input">Text</option>
					<option value="textarea">Formátovaný text</option>
					<option value="image">Obrázek</option>
					<option value="email">E-mail</option>
					<option value="url">Odkaz</option>
				</select>
			</td>
			<td class="text-center short"></td>
			<td class="text-center short"></td>
		</tr>
		<tr>
			<td colspan="10">
				<a href="" class="btn btn-sm btn-outline-secondary btn-clone" data-data="settings">Přidat další</a>
			</td>
		</tr>
	</tbody>
</table>
