{include '../Support/header.latte'}

<div class="admin-body">
	<div class="alert alert-info datetime" role="alert">Předchozí přihlášení: {$lastLogin|datetime|noescape}</div>
	{if $role == 'superAdmin'}
		<div class="dashboard-box third logins">
			<h2>Přihlášení uživatelů</h2>
			<div n:foreach="$logins as $login" class="login"><span class="datetime">{$login['login']|datetime|noescape}</span>{if $login['id_cs_user'] > 0}<span class="name">{$login['firstname']} {$login['lastname']}</span>{else}<span class="name">{$login['mail']} - <span class="error">{$login['error']}</span>{/if}</div>
		</div>
	{/if}
	<div class="dashboard-box">
		<h2>Novinky administrace</h2>
	</div>
</div>
