.image-preview {
	display: block;
	margin: 10px 0;
	max-width: 200px;
	height: auto;
	a {
		vertical-align: top;
	}
	img {
		width: 100%;
		height: auto;
		padding: 10px;
		border: 1px solid @brand-color;
	}
}
