<div class="header user-box">
	<div class="user-name">
		<span class="name">{$user->getName()}</span>
		<span class="role">{$user->getAttr('role')}</span>
		<div n:if="count($webs) > 1">
			<select class="form-control form-control-sm" name="web-selector" data-user="{$userId}" style="width: 85%; display: inline-block;">
				<option n:foreach="$webs as $web" value="{$web['id']}" {if $selectedWeb->getId() == $web['id']}selected{/if}>{$web['name']}</option>
			</select>
			<a href="{$selectedWeb->getAttr('domain')|checkurl}" target="_blank"><i class="fa fa-fw fa-external-link text-light"></i></a>
		</div>
		<span n:if="count($webs) == 1" class="school">
            <a href="{$selectedWeb->getAttr('code')|checkurl}" target="_blank">{$selectedWeb->getAttr('domain')}</a>
        </span>
	</div>
	<div class="user-menu">
		<div><a href="/" title="dashboard"><span><i class="fal fa-chalkboard fa-fw fa-sm"></i></span>Dashboard</a></div>
		<div><a href="/uzivatel/nastaveni" title="nastavení"><span><i class="fal fa-user-cog fa-fw fa-sm"></i></span>Můj účet</a></div>
		<div><a href="/uzivatel/odhlasit" title="odhlásit"><span><i class="fal fa-sign-out fa-fw fa-sm"></i></span>Odhlásit</a></div>
	</div>
</div>
