@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

@fa-font-path:  "../external/webfonts";
@brand-color: #0F53CC;
@brand-color-secondary: #ccc30f;
@brand-color-light: lighten(@brand-color,40%);
@brand-color-text: #FFFFFF;
@filter-color: lighten(@brand-color,40%);

@brand-color-highlight: #528cf8;

@grey-0: #efefef;
@grey-1: #dfdfdf;
@grey-2: #cfcfcf;
@grey-3: #bfbfbf;
@grey-4: #afafaf;
@grey-5: #9f9f9f;
@grey-6: #7f7f7f;
@grey-7: #5f5f5f;
@grey-8: #3f3f3f;
@grey-9: #1f1f1f;

@blocked: @grey-3;
@reserved: #ffae15;
@sold: #CC1414;
@free: #14CC14;
@reserved-bg: fade(@reserved, 25%);
@sold-bg: fade(@sold, 25%);
@free-bg: fade(@free, 25%);

@form-radius: 20px;

@font-default: 'Open Sans', sans-serif;
@font-size-default: 16px;

@font-size-h1: @font-size-default + 15;
@font-size-h2: @font-size-default + 12;
@font-size-h3: @font-size-default + 9;
@font-size-h4: @font-size-default + 5;
@font-size-h5: @font-size-default + 2;
@font-size-h6: @font-size-default + 1;

@width-content: 1100px;

@background-page: @grey-1;
@background-footer: @brand-color;
@default-text-color: @grey-9;

@error: #CC1414;
@danger: @error;
@success: #14CC14;
@info: #14B0CC;
@warning: #CCC614;
@mailer: #0072c6;

@header-height: 200px;
@left: 250px;

// Responsivness
// -------------------------

@phone-upper-boundary: 600px;
@tablet-portrait-upper-boundary: 900px;
@tablet-landscape-upper-boundary: 1200px;
@desktop-upper-boundary: 1800px;

.for-size(@range; @rules) when (@range = phone-only) {
	@media (max-width: @phone-upper-boundary - 1) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = tablet-portrait-up) {
	@media (min-width: @phone-upper-boundary) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = tablet-landscape-up) {
	@media (min-width: @tablet-portrait-upper-boundary) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = tablet-portrait-down) {
	@media (max-width: @tablet-portrait-upper-boundary - 1) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = tablet-down) {
	@media (max-width: @tablet-landscape-upper-boundary - 1) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = desktop-up) {
	@media (min-width: @tablet-landscape-upper-boundary) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = desktop-down) {
	@media (max-width: @desktop-upper-boundary - 1) {
		@rules();
	}
}
.for-size(@range; @rules) when (@range = big-desktop-up) {
	@media (min-width: @desktop-upper-boundary) {
		@rules();
	}
}
