.alert-filter {
	max-height: 90px;
	overflow: auto;
	a {
		text-decoration: none;
		transition: all .3s ease-in-out;
		display: inline-block;
		line-height: 30px;
		.paging {
			border: 1px solid lighten(@brand-color,20%);
			font-weight: 300;
			padding: 3px 5px;
			margin-left: 5px;
			&.selected {
				background: @brand-color-secondary;
				color: white;
			}
		}
		&:hover {
			color: white;
			.paging {
				background: lighten(@brand-color,20%);
			}
		}
	}
}

.alert {
	&.narrow {
		max-width: 600px;
	}
}

.alert-striped {
	border: 2px solid @grey-3;
	background: @grey-1;
	&:nth-child(even) {
		background: white;
	}
	padding: 0;
	h2 {
		font-size: 20px;
		margin: 0;
		background: @grey-2;
		padding: 10px;
		color: black;
		position: relative;
		.btn {
			position: absolute;
			right: 10px;
			top: 7.5px;
		}
		span {
			margin-left: 10px;
			color: @grey-4;
		}
	}
	small,
	& > div {
		padding: 10px;
	}
}
