@charset "UTF-8";
.abc-checkbox {
	cursor: default;
	padding-left: 15px; }
.abc-checkbox label {
	cursor: pointer;
	display: inline;
	vertical-align: top;
	position: relative;
	padding-left: 5px;
	top: 3px;
}
.abc-checkbox label::before {
	cursor: pointer;
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 2px;
	left: 0;
	margin-left: -1.25rem;
	border: 1px solid @grey-2;
	background-color: white;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.abc-checkbox label::after {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 14px;
	left: -1px;
	top: 3px;
	margin-left: -1.25rem;
	padding-left: 3px;
	padding-top: 1px;
	color: #495057; }
.abc-checkbox input[type="checkbox"],
.abc-checkbox input[type="radio"] {
	position: static;
	margin-left: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 1; }
.abc-checkbox input[type="checkbox"]:focus + label::before,
.abc-checkbox input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.abc-checkbox input[type="checkbox"]:checked + label::after,
.abc-checkbox input[type="radio"]:checked + label::after {
	.fa-icon;
	.fas;
	content: @fa-var-check;
}
.abc-checkbox input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox input[type="radio"]:indeterminate + label::after {
	display: block;
	content: "";
	width: 10px;
	height: 3px;
	background-color: #555555;
	border-radius: 2px;
	margin-left: -16.5px;
	margin-top: 7px; }
.abc-checkbox input[type="checkbox"]:disabled + label,
.abc-checkbox input[type="radio"]:disabled + label {
	opacity: 0.65; }
.abc-checkbox input[type="checkbox"]:disabled + label::before,
.abc-checkbox input[type="radio"]:disabled + label::before {
	background-color: #e9ecef;
	cursor: not-allowed; }
.abc-checkbox input[type="checkbox"]:disabled + label::after,
.abc-checkbox input[type="radio"]:disabled + label::after {
	cursor: not-allowed; }
.abc-checkbox.abc-checkbox-circle label::before {
	border-radius: 50%; }
.abc-checkbox.checkbox-inline {
	margin-top: 0; }

.abc-checkbox-primary input[type="checkbox"]:checked + label::before,
.abc-checkbox-primary input[type="radio"]:checked + label::before {
	background-color: @brand-color;
	border-color: @brand-color; }
.abc-checkbox-primary input[type="checkbox"]:checked + label::after,
.abc-checkbox-primary input[type="radio"]:checked + label::after {
	color: #fff; }

.abc-checkbox-danger input[type="checkbox"]:checked + label::before,
.abc-checkbox-danger input[type="radio"]:checked + label::before {
	background-color: @error;
	border-color: @error; }
.abc-checkbox-danger input[type="checkbox"]:checked + label::after,
.abc-checkbox-danger input[type="radio"]:checked + label::after {
	color: #fff; }

.abc-checkbox-info input[type="checkbox"]:checked + label::before,
.abc-checkbox-info input[type="radio"]:checked + label::before {
	background-color: @info;
	border-color: @info; }
.abc-checkbox-info input[type="checkbox"]:checked + label::after,
.abc-checkbox-info input[type="radio"]:checked + label::after {
	color: #fff; }

.abc-checkbox-warning input[type="checkbox"]:checked + label::before,
.abc-checkbox-warning input[type="radio"]:checked + label::before {
	background-color: @warning;
	border-color: @warning; }
.abc-checkbox-warning input[type="checkbox"]:checked + label::after,
.abc-checkbox-warning input[type="radio"]:checked + label::after {
	color: #fff; }

.abc-checkbox-success input[type="checkbox"]:checked + label::before,
.abc-checkbox-success input[type="radio"]:checked + label::before {
	background-color: @success;
	border-color: @success; }
.abc-checkbox-success input[type="checkbox"]:checked + label::after,
.abc-checkbox-success input[type="radio"]:checked + label::after {
	color: #fff; }

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::before {
	background-color: @brand-color;
	border-color: @brand-color; }
.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::after {
	background-color: #fff; }

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::before {
	background-color: @error;
	border-color: @error; }
.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::after {
	background-color: #fff; }

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-info input[type="radio"]:indeterminate + label::before {
	background-color: @info;
	border-color: @info; }
.abc-checkbox-info input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-info input[type="radio"]:indeterminate + label::after {
	background-color: #fff; }

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::before {
	background-color: @warning;
	border-color: @warning; }
.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::after {
	background-color: #fff; }

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-success input[type="radio"]:indeterminate + label::before {
	background-color: @success;
	border-color: @success; }
.abc-checkbox-success input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-success input[type="radio"]:indeterminate + label::after {
	background-color: #fff; }
