.cookie-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background: rgba(0,0,0,.9);
	color: #fff;
	z-index: 999;
	text-align: center;
	h4 {
		color: #fff;
	}
	.accept-button {

	}
}
