.page-dashboard {
	.datetime {
		display: block;
		padding-right: 10px;
		span {
			padding-left: 5px;
			font-weight: bold;
		}
	}
	.dashboard-box {
		font-size: 12px;
		line-height: 1.5;
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		box-sizing: border-box;
		h2 {
			font-size: @font-size-h2;
		}
		&.logins {
			height: 75vh;
			display: inline-block;
			overflow-y: auto;
			.login {
				.datetime {
					text-align: right;
					width: 140px;
					display: inline-block;
					span {
						color: @grey-6;
					}
				}
				.name {
					padding-right: 5px;
					font-weight: bold;
					.error {
						color: @error;
					}
				}
			}
		}
	}

}
