.center {
	&.error {
		text-align: center;
		padding: 50px;
		h2, h3 {
			color: @grey-2;
			font-size: 120px;
			text-transform: uppercase;
		}
		h3 {
			font-size: 40px;
			padding-bottom: 50px;
		}
	}
}
