.create-form {
	margin: 50px;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid @grey-1;
	background: @grey-0;
	h2 {
		font-size: 20px;
		padding-bottom: 50px;
	}
}

.form-admin {
	border: none;
	display: block;
	height: auto;
	overflow: auto;
	h3 {
		color: @grey-5;
		padding-top: 20px;
		font-size: 20px;
		font-weight: 300;
	}
	.form-group {
		margin-bottom: 10px;
	}

	/** Tabs */
	.tabs {
		display: flex;
		flex-wrap: wrap; // make sure it wraps
	}
	.tabs label {
		order: 1; // Put the labels first
		display: block;
		padding: 1rem 2rem;
		margin-right: 0.2rem;
		cursor: pointer;
		font-weight: bold;
		transition: background ease 0.2s;
		background: @grey-0;
		&:hover {
			background: @grey-2;
		}
	}
	.tabs .tab {
		order: 99; // Put the tabs last
		flex-grow: 1;
		width: 100%;
		display: none;
		padding: 1rem;
		border: 1px solid @grey-1;
		td,
		.table-th-name {
			label {
				font-weight: bold;
				font-size: 14px;
				padding: 0;
				background: unset;
				&.required {
					&:after {
						.fa-icon;
						.fas;
						content: @fa-var-asterisk;
						font-size: 12px;
						position: relative;
						padding-left: 7px;
						bottom: 7px;
						color: @brand-color-secondary;
					}
				}
			}
			small {
				font-size: 12px;
			}
		}
	}
	.tabs input[type="radio"] {
		display: none;
	}
	.tabs input[type="radio"]:checked + label {
		background: @brand-color-light;
		&:hover {
			background: #4784f5;
		}
	}
	.tabs input[type="radio"]:checked + label + .tab {
		display: block;
	}
}