.login-box, .registration-box {
	width: 90%;
	max-width: 500px;
	border: 1px solid @brand-color;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	box-shadow: 0 0 10px @brand-color;
	h1 {
		padding-bottom: 20px;
	}
	label {
		padding: 10px 0 5px;
	}
	.form-group {
		margin: 10px 0 5px;
		display: block;
	}
	.login-button {
		float: left;
	}
	.new-registration-button {
		float: right;
	}
	.login-error {
		text-align: center;
		padding: 10px;
		background: @error;
		color: white;
		line-height: 20px;
		span {
			font-size: 12px;
			a {
				color: white;
				font-weight: bold;
			}
		}
	}
}
.registration-box {
	max-width: 600px;
}
.renew {
	float: right;
	line-height: 30px;
	font-size: 12px;
}
.page-obnova-hesla {
	footer, main {
		margin: 0;
	}
}
