.overlay-container {
	display: none; /* Hidden by default */
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.ui-dialog {
	p {
		padding: 3px 0;
	}
	strong {
		font-weight: bold;
	}
	&.danger {
		.ui-dialog-titlebar {
			background: @error;
			color: white;
		}
	}
	&.info {
		.ui-dialog-titlebar {
			background: @info;
			color: white;
		}
		li {
			font-size: 13px;
			line-height: 1.3;
			padding-left: 20px;
			&:before {
				.fa-icon;
				.fas;
				color: @info;
				content: @fa-var-lightbulb;
				float: left;
				margin-left: -20px;
			}
		}
	}
	.alert {
		margin: 10px 0;
	}
}

.ui-widget-overlay {
	background: @grey-9;
	opacity: .8;
}

#dialog-content {
}