.pdf {
	color: black;
	//font-family: 'Lato', sans-serif !important;
	position: relative;
	.header {
		border: 2px solid black;
		width: 11cm;
		height: 4cm;
		text-align: center;
		float: left;
		h2 {
			color: black;
			padding: .5cm;
			font-weight: bolder;
			font-size: .67cm;
		}
		p {
			font-size: 9px;
			padding-bottom: 5px;
			&.ico {
				font-weight: 800;
				font-size: 12px;
				padding-bottom: 10px;
			}
		}
	}
	.invoice {
		float: right;
		width: 6.5cm;
		height: 4cm;
		position: absolute;
		top: 0;
		text-align: right;
		h1 {
			text-transform: uppercase;
			font-weight: 900;
			color: black;
			padding-bottom: 10px;
		}
		.number {
			text-align: right;
			font-weight: bolder;
		}
	}
	.datum {
		.type {

		}
	}
}