.abc-radio {
	cursor: default;
	padding-left: 15px; }
.abc-radio label {
	cursor: pointer;
	display: inline;
	vertical-align: top;
	position: relative;
	padding-left: 5px; }
.abc-radio label::before {
	cursor: pointer;
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: -1px;
	left: 0;
	margin-left: -20px;
	border: 1px solid @success;
	border-radius: 50%;
	background-color: #fff;
	transition: border 0.15s ease-in-out; }
.abc-radio label::after {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 2px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #495057;
	transform: scale(0, 0);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.abc-radio input[type="radio"] {
	position: static;
	margin-left: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 1; }
.abc-radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.abc-radio input[type="radio"]:checked + label::after {
	transform: scale(1, 1); }
.abc-radio input[type="radio"]:disabled + label {
	opacity: 0.65; }
.abc-radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed; }
.abc-radio input[type="radio"]:disabled + label::after {
	cursor: not-allowed; }
.abc-radio.radio-inline {
	margin-top: 0; }

.abc-radio-primary input[type="radio"] + label::after {
	background-color: @brand-color; }
.abc-radio-primary input[type="radio"]:checked + label::before {
	border-color: @brand-color; }
.abc-radio-primary input[type="radio"]:checked + label::after {
	background-color: @brand-color; }

.abc-radio-danger input[type="radio"] + label::after {
	background-color: @error; }
.abc-radio-danger input[type="radio"]:checked + label::before {
	border-color: @error; }
.abc-radio-danger input[type="radio"]:checked + label::after {
	background-color: @error; }

.abc-radio-info input[type="radio"] + label::after {
	background-color: @info; }
.abc-radio-info input[type="radio"]:checked + label::before {
	border-color: @info; }
.abc-radio-info input[type="radio"]:checked + label::after {
	background-color: @info; }

.abc-radio-warning input[type="radio"] + label::after {
	background-color: @warning; }
.abc-radio-warning input[type="radio"]:checked + label::before {
	border-color: @warning; }
.abc-radio-warning input[type="radio"]:checked + label::after {
	background-color: @warning; }

.abc-radio-success input[type="radio"] + label::after {
	background-color: @success; }
.abc-radio-success input[type="radio"]:checked + label::before {
	border-color: @success; }
.abc-radio-success input[type="radio"]:checked + label::after {
	background-color: @success; }

label .was-validated .form-check-input:invalid .abc-checkbox:before, label
.was-validated .form-check-input:invalid .abc-radio:before, label .form-check-input.is-invalid .abc-checkbox:before, label
.form-check-input.is-invalid .abc-radio:before {
	border-color: @error; }

.form-check-inline {
	margin-top: 4px;
}