.is-hidden {
	display: none;
}

.table-admin {
	.table-th-name {
		width: 250px;

		label {
			font-weight: bold;
		}

		.hint {
			font-size: 12px;
			color: @grey-5;
			padding: 10px 10px 0;
		}
	}
	tbody {
		tr.hidden {
			display: none;
		}
		tr.save{
			background: fade(@grey-0,33%);
		}
	}
	td {
		text-align: left;
		input[type="checkbox"] {
			margin: 0;
		}
		.alert {
			font-size: 12px;
		}
	}
}

td.checkbox,
th.checkbox {
	width: 50px;
	text-align: center;
}

.files-list {
	padding-bottom: 10px;
}

tr.highlighted {
	background: lighten(@success, 50%);
	border-bottom: 1px solid @success;
	th, td {
		border-bottom: 1px solid @success;
	}
	&:hover {
		background: lighten(@success, 40%) !important;
		border-bottom: 1px solid @success !important;
		th, td {
			border-bottom: 1px solid @success !important;
		}
	}
}

.table-hover {
	thead {
		&.thead-brand {
			background: @brand-color;
			color: white;

			tr,
			tr:hover {
				background: @brand-color;
				color: white;
			}

			th, td {
				text-align: left;
			}
		}
	}
}

.table-tickets {
	border: none;
	tr.hidden-row {
		.hidden-cell {
			background: white;
			border: none;
		}
	}
}

td.datetime {
	text-align: center;
	span {
		display: block;
		color: @grey-5;
		font-size: 13px;
	}
}

th.short, td.short {
	width: 50px;
}
