.ticket-changes {
	border: 1px solid @grey-2;
	background: @grey-0;
	&:nth-child(even) {
		background: white;
	}
	padding: 0;
	h2 {
		font-size: 20px;
		margin: 0;
		background: @grey-2;
		padding: 10px;
		color: black;
		position: relative;
		.btn {
			position: absolute;
			right: 10px;
			top: 7.5px;
		}
	}
	.ticket-wrapper {
		padding: 10px;
		h3, h4 {
			padding-bottom: 5px;
			color: black;
			font-weight: bold;
		}
		h3 {
			font-size: 18px;
		}
		.question-wrapper {
			padding-bottom: 10px;
			padding-left: 5px;
			.changes {
				padding-left: 5px;
				font-size: 15px;
				span {
					padding-right: 10px;
					color: @grey-6;
					font-weight: normal;
				}
			}
		}
	}
}

.form-ticket {
	.row,
	.form-group {
		margin: 20px 0 30px;
		label {
			font-weight: 400;
			font-size: 18px;
			padding-bottom: 10px;
			&.required {
				&:after {
					.fa-icon;
					.fas;
					content: @fa-var-asterisk;
					font-size: 12px;
					position: relative;
					padding-left: 7px;
					bottom: 7px;
					color: @brand-color;
				}
			}
		}
		small {
			font-size: 12px;
		}
	}
}
