.header {
	&.user-box {
		text-align: left;
		font-size: 12px;
		position: relative;
		background: @brand-color;
		clear: both;
		.user-name {
			font-size: 15px;
			line-height: 20px;
			padding: 10px;
			text-align: center;
			background: darken(@brand-color, 10%);
			span {
				display: block;
				font-size: 11px;
				&.name {
					font-size: 18px;
					font-weight: 800;
				}
			}
		}
		.logout {
			position: absolute;
			top: 0;
			right: 0;
			line-height: 20px;
			p {
				width: 100%;
				padding: 0;
				&.logout {
					padding: 10px;
					width: 100%;
					position: relative;
					&:before {
						.fa-icon;
						.fas;
						content: @fa-var-sign-out-alt;
						font-size: 15px;
						bottom: -1px;
						position: relative;
						padding-right: 5px;
					}
				}
			}
		}
		.user-menu {
			text-align: left;
			padding: 10px;
			display: block;
			width: 100%;
			overflow: hidden;
			div {
				width: 46%;
				box-sizing: border-box;
				border: 1px solid transparent;
				margin-left: 2%;
				float: left;
				line-height: 20px;
				height: 25px;
				position: relative;
				a {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding-left: 10px;
				}

				span {
					padding-right: 5px;
				}

				&:hover {
					background: darken(@brand-color, 2%);
					border: 1px solid darken(@brand-color, 5%);
				}
			}
		}
		ul {
			li {
				padding: 5px;
				position: relative;
				height: 30px;
				line-height: 30px;
				font-size: 12px;
				border-bottom: 1px solid transparent;
				border-top: 1px solid transparent;
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 10px;
					line-height: 10px;
					span {
						padding-right: 5px;
					}
				}
			}
		}
		a {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
