html,
body {
	background: white;
	font-family: @font-default;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

header {
	height: @header-height;
	position: relative;
	margin-left: @left;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

main {
	box-sizing: border-box;
	position: relative;
	flex: 1 0 auto;
	margin-left: @left;
	.admin-body {
		padding: 20px;
		margin-bottom: 20px;
		.filter {
			font-size: 12px;
			margin: 10px 0;
			padding: 10px;
			background: @grey-0;
			border: 1px solid @grey-1;
			position: relative;
			input, select {
				border: 1px solid @grey-1;
				padding: 5px;
				margin-right: 10px;
			}
			h2 {
				position: absolute;
				left: 5px;
				top: -12px;
				color: @grey-3;
				font-size: 20px;
			}
		}
		ul {
			position: relative;
			li {
				position: relative;
				line-height: 1.5;
				list-style-position: inside;
				//text-indent: -1.6em;
				padding: 0 10px 5px 10px;
			}
		}
		table {
			h2, h3, h4, h5 {
				padding-bottom: 10px;
			}
			td, th {
				&.table-th-id {
					font-size: 12px;
					color: @grey-4;
					text-align: center;
					vertical-align: middle;
				}
				span {
					&.color-preview {
						height: 20px;
						width: 20px;
						border: 1px solid black;
						display: block;
						margin: 0 auto;
					}
					&.time-preview {
						color: @grey-5;
						font-size: 11px;
					}
				}
			}
		}
		.alert {
			span {
				font-weight: 600;
			}
		}
	}
}

.timestamp {
	padding: 10px;
	font-size: 10px;
	display: inline-block;
}

footer {
	background: @grey-1;
	border-top: 1px solid @brand-color;
	margin-left: @left;
	min-height: 35px;
	.copyright {
		padding: 10px;
		font-size: 10px;
		color: @brand-color;
		position: relative;
		margin: 0 auto;
		text-align: right;
		display: inline-block;
		span {
			margin-right: 15px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.column-left {
	position: fixed;
	height: 100%;
	background: darken(@brand-color,5%);
	width: @left;
	color: white;
	box-sizing: border-box;
	z-index: 1;
	.main-menu {
		h4 {
			color: white;
			text-align: left;
			padding: 10px;
			font-weight: 600;
			border-top: 1px solid rgba(0,0,0,.25);
			background: darken(@brand-color,10%);
			cursor: pointer;
			&:hover {
				background: darken(@brand-color,12%);
			}
		}
		.accordion {
			span {
				padding-right: 10px;
			}
		}
		.panel {
			display: none;
			overflow: hidden;
		}
		.active {
			.panel {
				display: block;
			}
		}
		ul {
			position: relative;
			li {
				padding: 10px;
				position: relative;
				height: 35px;
				line-height: 35px;
				font-size: 14px;
				border-bottom: 1px solid rgba(255,255,255,.05);
				background: @brand-color;
				&:last-of-type {
					border-bottom: none;
				}
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: white;
					padding-left: 25px;
					&:hover {
						text-decoration: none;
					}
					span {
						padding-right: 5px;
					}
					.badge {
						padding: 5px 10px;
						font-size: 13px;
						position: absolute;
						right: 20px;
						top: 4px;
						&.badge-menu {
							background: red;
							&.badge-info {
								background: @info;
							}
							&.badge-warning {
								background: @warning;
							}
						}
					}
				}
				&:hover {
					background: darken(@brand-color, 2%);
				}
				&.selected {
					background: lighten(@brand-color, 5%);
					border-bottom: 1px solid lighten(@brand-color, 10%);
					border-top: 1px solid lighten(@brand-color, 10%);
					&:after {
						position: absolute;
						right: 5px;
						top: 0;
						width: 8px;
						.fa-icon;
						.fas;
						content: @fa-var-circle;
						font-size: 33px;
					}
				}
			}
			&:last-of-type {
				li:last-of-type {
					border-bottom: 1px solid rgba(255,255,255,.05);
				}
			}
		}
	}
}

.page-login {
	header, main {
		margin-left: 0;
	}
}

.half, .third {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	.for-size(tablet-down, {
		width: 100%;
	})
}

.third {
	width: 33%;
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}