.admin-header {
	background: @grey-0;
	padding: 20px;
	transition: top 0.2s ease-in-out;
	top: 0;
	position: fixed;
	width: ~"calc(100% - 250px)";
	z-index: 9;
	box-shadow: 0px 1px 10px @grey-5;
	.top-secondary {
		position: relative;
		margin-top: -25px;
		float: right;
		margin-left: 10px;
	}
	h2 {
		font-weight: bold;
		color: @brand-color;
		font-size: 20px;
		span {
			color: @brand-color-secondary;
			font-weight: bold;
			padding-right: 15px;
			font-size: 1.1em;
		}
	}
}
