.column {
	padding: 5px;
	//border: 2px solid @grey-2;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.block {
	padding: 10px;
	border: 1px solid @grey-1;
	box-sizing: border-box;
	display: block;
	margin: 2px 2px 10px;
	.table {
		h4 {
			padding-bottom: 10px;
		}
	}
	&.block-table {
		.table {
			h4 {
				position: relative;
				span.show-names {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	&.horizontal {
		display: inline-block;
		&.block-table {
			margin-left: 20px;
			margin-right: 20px;
			h4 {
				position: relative;
				span.show-names {
					position: relative;
					display: block;
					padding-top: 5px;
				}
			}
		}
	}
	&.block-form {
		padding: 0;
		.block-form-head,
		.block-form-body {
			padding: 20px;
		}
		.block-form-head {
			border-bottom: 2px solid @grey-0;
			border-top-left-radius: @form-radius;
			border-top-right-radius: @form-radius;
		}
	}
	&.block-label {
		text-align: center;
		padding: 30px 0;
		background: @grey-0;
	}
}
.table-seat {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	.not-available,
	.blocked,
	.free,
	.sold,
	.reserved {
		border: 1px solid @reserved;
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
	}
	.blocked {
		border: 1px solid @blocked;
		background: @grey-5;
		&:after {
			.fa-icon;
			.fal;
			color: @blocked;
			content: @fa-var-ban;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.reserved {
		background: @info;
		&:after {
			.fa-icon;
			.fal;
			color: @reserved;
			content: @fa-var-ticket-alt;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.reserved {
		background: @reserved-bg;
		&:after {
			.fa-icon;
			.fal;
			color: @reserved;
			content: @fa-var-ticket-alt;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.sold {
		background: @sold-bg;
		border: 1px solid @sold;
		&:after {
			.fa-icon;
			.fal;
			color: @sold;
			content: @fa-var-ticket-alt;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.free {
		border: 1px solid @free;
		.regular-checkbox {
			-webkit-appearance: none;
			background-color: @grey-0;
			border: 1px solid transparent;
			box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
			padding: 9px;
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			&:hover {
				cursor: pointer;
			}
			&:checked {
				background-color: @grey-2;
				border: 1px solid @free;
				box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
				color: #99a1a7;
				&:after {
					.fa-icon;
					.fas;
					color: @free;
					content: @fa-var-ticket-alt;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
	.conflict {
		background-color: @info !important;
		border: 2px solid @info !important;
		&:after {
			.fa-icon;
			.fas;
			color: white;
			content: @fa-var-ban;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.my-seats {
		background-color: @success !important;
		border: 2px solid @success !important;
		&:after {
			.fa-icon;
			.fas;
			color: white;
			content: @fa-var-check;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.table-row {
	display: block;
}

.block-form {
	border: 2px solid @grey-2;
	border-radius: @form-radius;
	padding: 20px;
	box-sizing: border-box;
	min-width: 300px;
	max-width: 500px;
	img {
		width: 100%;
		height: auto;
	}
	.datetime {
		span {
			padding-left: 5px;
			color: @grey-7;
		}
	}
}

