<div class="center error">
    {if $messages}
		<div n:foreach="$messages as $key=>$message" class="alert alert-{$key}" role="alert">{$message|noescape}</div>
    {/if}
	<h2>404</h2>
	<h3>Stránka nebyla nalezena</h3>
</div>